{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Slide</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rutaimagen</th>
                <td>{{ entity.rutaImagen }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('slide') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
