{% extends '::backend.html.twig' %}

{% block contenido -%}
    <h1>Miembro creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('miembro') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
