{% extends '::backend.html.twig' %}

{% block contenido -%}
    <h1>TipoPublicacion creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('TipoPublicacion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
