{% extends '::frontend.html.twig' %}

{% block contenido %}
  <section  class="section_light">
   <div class="row"><br>
      <div class="orbit-container">
      
        <ul class="example-orbit" data-orbit >
          {% for entity in entities %}
            <li>
              <img src="{{ asset('uploads/images/slide/' ~ entity.Rutaimagen) }}" />
             <!-- <div class="orbit-caption">
                Caption One.
              </div>-->
            </li>
            
          {% endfor %}
        </ul>

      </div>
    </div>
   </section>
<!-- Three-up Content Blocks -->
 
 <section class="section_main">
   
        <div class="row">
        
            <div class="ten columns">
                   

                <p style="text-align: justify;">{{ 'descripcion' | trans | nl2br }}</p>
                
            </div>
    
           

   
    
  
        </div>
    

  </section>	

{% endblock %}
