{% extends '::frontend.html.twig' %}

{% block contenido %}
  <section  class="section_light">
   <div class="row"><br>
      <div class="orbit-container">
      
        <ul class="example-orbit" data-orbit >
          {% for entity in entities %}
            <li>
              <img src="{{ asset('uploads/images/slide/' ~ entity.Rutaimagen) }}" />
             <!-- <div class="orbit-caption">
                Caption One.
              </div>-->
            </li>
            
          {% endfor %}
        </ul>

      </div>
    </div>
   </section>
<!-- Three-up Content Blocks -->
 
 <section class="section_main">
   
        <div class="row">
        
            <div class="four columns">
      
                <h4>This is a content section.</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>
    
           

   
    
  
        </div>
    

  </section>	

{% endblock %}
